.terminal {
    background: black;
    color: white;
    font-family: Hack, monospace;
    padding: 10px;
    border-radius: 1rem;
}

.terminal #history {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1em;
    scroll-behavior: smooth;
}

.line {
    display: table;
    width: 100%;
}

.terminal #prefix {
    display: table-cell;
    width: 0px;
}

.terminal .hist-line {
    white-space: pre;
    display: inline;
    font-size: 1em;
    font-family: inherit;
}

.terminal [kind=err] {
    color: red;
}

.terminal input {
    display: table-cell;
    background: black;
    color: white;
    font-size: 1em;
    font-family: inherit;
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
}